// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$container-width:100rem;

$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$gutter-r-vertical:3rem;
$gutter-r-horizontal:2rem;

//colors//

$yellow:rgb(252, 255, 25);
$yellow2:#fcff19;

$black:rgb(1, 1, 1);
$green:rgb(161, 221, 0);
$bluedark:rgb(32, 59, 85);

$grey1:rgb(83, 83, 83);
$grey2:rgb(171, 168, 166);
$grey3:rgb(183, 183, 183);
$grey4:rgb(128, 128, 128);



